/* CSS para la página Kashin */
body {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", sans-serif;
    background-color: #f0fbff;
}
a{
    text-decoration: none;
}

.hamburger-menu{
    display: none;
}
.navbar {
    padding: 0px 20px;
    background-color: #4fe0f1;
    color: white;
    box-sizing: border-box;
}
.navbar__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.navbar__logo {
    height: 50px;
    margin: auto 0;
}
.navbar__container a{
    margin: auto 0;
}

.navbar i{
    font-size: 2.3rem;
}
.secciones_botones{
    display: flex;
    flex-direction: row;
}
.clase_ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.clase_li, .clase_li a{
    margin: auto;
    color: #fff;
}
.clase_li:hover{
    color: #1b345a
}
.clase_li a:hover{
    color: #1b345a
}
.login a{
    background-color: #1b345a;
    padding: 10px 20px;
    border-radius: 10px;
}
.login a:hover{
    background-color: #65cfda;
    color: #Fff;
}
//*navbar*//
.main{

}
.main__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 50px 0;
}
h1{
    text-wrap: balance;
    font-size: 2.24rem;
    color: #333;
    padding: 20px;
    margin: auto;


}
.main span{
    background: linear-gradient(to right, #06b38e, #00a6f3,#0042f3);
    -webkit-background-clip: text;
    color: transparent;
}
.main span, h1{
    line-height: 38px;
    margin: auto;
}
.main p{
    font-size: 1.3rem;
    padding: 0 8px;
    letter-spacing: 1px;
    color: #444;
    margin: auto;
}
.main__button {
    width: 20%;
    padding: 10px 10px;
    margin: 20px auto;
   background: linear-gradient(to top, #37b0bc, #24c3b2);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    border: solid 1px #fff;
    outline: solid 1px #37b0bc;
}
.main__list{
    list-style: none;
    text-align: center;
    font-size: 0.9rem;
    margin: 0;
    padding: 10px;
}
.main__list li{
    margin: 2px;
}
.closing-message {
        background-color: #78d9e6;  /* Fondo de color cálido */
        color: #fff;  
        padding: 30px 20px;
        text-align: center;
        border-top: 4px solid #59a8b1;  
    }

    .closing-message__title {
        font-size: 1.6em;  
        margin-bottom: 15px;
        font-weight: bold;
    }

    .closing-message__text {
        font-size: 1em; 
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .closing-message__cta {
        display: inline-block;
        background-color: #a0f5ff;  
        color: white;
        padding: 12px 25px;
        font-size: 1.1em;
        text-decoration: none;
        border-radius: 25px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
    .redes-sociales{
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 0;
        padding: 0;
        }

        .redes-sociales i{
            margin: 0;
        padding: 0;
            color: #fff;
            font-size: 2.5rem;
        margin: auto;
        text-align: center;
        }
        /*carousel*/
        .carousel {
    background-color: #fff;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}

.carousel__container {
    position: relative;
    width: 100%;
    height: 400px; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    margin-top: 40px;
}

.carousel__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.atan2();s ease-in-out;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.carousel__image:not(.active) {
    opacity: 0;
}
.carousel__image.active {
    opacity: 1;
    transform: translateX(0);
    position: relative;
}

.carousel__btn {
    position: absolute;
    background: #44d4e5;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;
}

.carousel__btn--left { left: 30%; }
.carousel__btn--right { right: 30%; }

.hidden { display: none; }

.carousel h2{
    color: #444;
    text-align: center;
    padding:4px 10px;
    font-size: 1.9rem;
    font-weight: bold;
}
.carousel__nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.carousel__dot {
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    transition: background-color 0.3s;
    font-weight: bold;
}

.carousel__dot:hover, .carousel__dot.active {
    border-radius: 50%;
    background-color: #44d4e5;
    color: white;
}
.faq {
    background-color: #f0f0f0;
    padding: 50px 0;
}

.faq__title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}

.faq__item {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq__question {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.faq__answer {
    color: #666;
}
.carousel__image {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

.carousel__image.active {
    opacity: 1;
    visibility: visible;
}
/**/


        .footer {
            background-color: #44d4e5;
            color: white;
            padding: 20px;
            text-align: center;
        }

        .footer__container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 10px;
             padding: 10px 5px;
        }

        .footer__column a {
            color: white;
            text-decoration: none;
            display: block;
            margin-bottom: 10px;
            font-size: 20px;
            padding: 10px 5px;
            width: 300px;
        }
        .footer__column{
            text-align: center;
            margin: auto;

        }
        .footer__social-icon {
            font-size: 24px;
            margin-right: 10px;
        }
        .footer p{
            text-align: center;
            margin: 10px;
            padding: 10px;
        }
@media (max-width: 1080px) {


    .navbar__container {
        flex-direction: row;
        align-items: center;
    }

    .main__button {
        width: 70%;
        font-size: 1.2rem;
    }

    .main p {
        font-size: 1.2rem;
    }

    .carousel__image {
        padding: 20px 60px;
    }

    .footer__container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 900px) {
    .navbar__container {
        flex-direction: column;
        text-align: center;
    }

    .main__button {
        width: 80%;
        font-size: 1.1rem;
    }

    .main p {
        font-size: 1.1rem;
    }

    .carousel__image {
        padding: 20px 40px;
    }

    .footer__container {
        flex-direction: column;
        text-align: center;
    }

    .footer__column a {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar__container {
        text-align: center;
    }

    .main__button {
        width: 100%;
        font-size: 1rem;
    }

    .main h1 {
        font-size: 1.8rem;
        padding: 10px;
    }

    .main p {
        font-size: 1rem;
    }

    .carousel__image {
        padding: 10px 20px;
    }

    .footer__container {
        flex-direction: column;
        text-align: center;
    }

    .footer__column a {
        font-size: 16px;
    }

    .redes-sociales i {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .footer__container {
        flex-direction: column;
        text-align: center;
    }
 body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.navbar {
    padding: 4px 20px;
    background-color: #4fe0f1;
    color: white;
    box-sizing: border-box;
 
}
.navbar__container{
    display: flex;
    flex-direction: row;
      justify-content: space-between;
    padding: 10px;
}
.navbar__logo {
    height: 50px;
}
.navbar i{
    font-size: 2.3rem;
}
/* Estilos para el botón hamburguesa */
.hamburger-menu {
    display: flex;
    width: 30px; 
    height: 30px; 
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
    color: #fff;
    position: relative; 
    margin-left: auto;
}

.hamburger-menu i {
    font-size: 30px; 
    color: #fff;     
    transition: opacity 0.49s ease-in-out, transform 0.15s ease-in-out; 
}

/* Ocultar la X por defecto */
.hamburger-menu i.fa-xmark {
    opacity: 0;
    position: absolute;
    top: 0; 
    left: 0;
    font-size: 35px; 
    z-index: 100; /
    padding: 0;
}

.hamburger-menu.active i.fa-bars {
    opacity: 0;
    transform: scale(0.6); 
    display: none;
}

.hamburger-menu.active i.fa-xmark {
    opacity: 1; /* Muestra la X */
    transform: scale(1); /* Asegura tamaño completo */
    z-index: 13;
    margin: 0;
    padding: 0;
}

.clase_ul {
    position: fixed;
    top: 0%;
    right: -100%;
    width: 70%;
    height: 100%;
   background: linear-gradient(145deg, #4fe0f1,#3dd2c0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    transition: right 0.5s ease-in-out;
    outline: solid 4px #1b345a;
  z-index: 10;
  padding: 120px 20px 0;
  margin: 0;
}

.clase_ul.active {
    display: inline-block;
    right: 0;
     z-index: 99;
}
.clase_ul.closing {
    transform: translateX(100%); /* Se desliza hacia la derecha */
}
body.no-scroll {
    overflow: hidden;
    height: 100%; /* Asegura que no haya scroll vertical */
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    z-index: 90; 
    opacity: 0; 
    pointer-events: none; /* No interactuable por defecto */
    transition: opacity 0.3s ease-in-out; /* Transición de opacidad */
}

.overlay.active {
    opacity: 1; /* Visible */
    pointer-events: auto; /* Ahora interactuable */
}
.clase_ul a{
    display: flex;
    flex-direction: column;
    padding: 8px 13px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    transition: right 0.5s ease-in-out;
     box-shadow: 0 3px 4px rgba(0, 0, 0, 0.8);
     border-radius: 0;
     margin: 20px 0;

}
.clase_ul a {
        display: flex;
    justify-content: center;
    padding: 10px 0;
    opacity: 1;
    transform: translateX(50%);
    font-size: 20px;
    border: transparent;
    border-top: solid 2px #65cfda;
    border-bottom: solid 2px #65cfda;
    box-shadow: none;
    width: 100%;
    background-color: #65cfda;
    color: #1b345a;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.15s ease-in-out, opacity 0.2s ease;

}

.clase_ul.active a {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    opacity: 1;
    transform: translateY(50%);
    font-size: 20px;
    border: transparent;
    border-top: solid 2px #1b345a;
    border-bottom: solid 2px #1b345a;
    box-shadow: none;
    width: 100%;
    background-color: #fff;
    color: #1b345a;
    z-index: 100;
}
.clase_ul.closing a {
    opacity: 0;
    
}

.clase_ul a:nth-child(1) {
    transition-delay: 0.37s;
}

.clase_ul a:nth-child(2) {
    transition-delay: 0.37s;
}
/**/
.secciones_botones{
    display: block;
}
.main {
    padding: 36px 50px 70px;
    text-align: center;
}
h1{
    text-wrap: balance;
    font-size: 2.24rem;
    color: #333;
    padding: 30px 40px 0; 

}
.main span{
    background: linear-gradient(to right, #06b38e, #00a6f3,#0042f3);
    -webkit-background-clip: text;
    color: transparent;
}
.main span, h1{
    line-height: 38px;
}
.main p{
    font-size: 1.3rem;
    padding: 0 8px;
    letter-spacing: 1px;
    color: #444;
}
.main__button {
    width: 90%;
    padding: 10px 10px;
    margin: 20px auto;
   background: linear-gradient(to top, #37b0bc, #24c3b2);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    border: solid 1px #fff;
    outline: solid 1px #37b0bc;
}
.main__list{
    list-style: none;
    text-align: left;
    font-size: 0.9rem;
    margin: 0;
    padding: 14px;
}
.carousel {
    background-color: #fff;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}

.carousel__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
}


.carousel__image:not(.active) {
    opacity: 0;
}
.carousel__image.active {
    opacity: 1;
    transform: translateX(0);
    position: relative;
}

.carousel__btn {
    position: absolute;
    background: #44d4e5;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.carousel__btn--left { left: 20px; }
.carousel__btn--right { right: 20px; }

.hidden { display: none; }

.carousel h2{
    color: #444;
    text-align: center;
    padding:4px 10px;
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto;
}
.carousel__nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.carousel__dot {
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    transition: background-color 0.3s;
    font-weight: bold;
}

.carousel__dot:hover, .carousel__dot.active {
    border-radius: 50%;
    background-color: #44d4e5;
    color: white;
}
.faq {
    background-color: #f0f0f0;
    padding: 50px 0;
}

.faq__title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}

.faq__item {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq__question {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.faq__answer {
    color: #666;
}
.closing-message {
        background-color: #78d9e6;  /* Fondo de color cálido */
        color: #fff;  
        padding: 30px 20px;
        text-align: center;
        border-top: 4px solid #59a8b1;  
    }

    .closing-message__title {
        font-size: 1.6em;  
        margin-bottom: 15px;
        font-weight: bold;
    }

    .closing-message__text {
        font-size: 1em; 
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .closing-message__cta {
        display: inline-block;
        background-color: #a0f5ff;  
        color: white;
        padding: 12px 25px;
        font-size: 1.1em;
        text-decoration: none;
        border-radius: 25px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

.redes-sociales{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
margin: 0;
padding: 0;
}

.redes-sociales i{
    margin: 0;
padding: 0;
    color: #fff;
    font-size: 2.5rem;
margin: auto;
text-align: center;
}

.footer {
    background-color: #44d4e5;
    color: white;
    padding: 20px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.footer__column a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 6px;
}

.footer__social-icon {
    font-size: 24px;
    margin-right: 10px;
}
.footer p{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
}